 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body{
    background-color: rgb(177, 175, 175);
}
.container {
    max-width: 600px;
    background: linear-gradient(rgb(252, 6, 121), violet);
    margin: auto;
    padding: auto;
    text-align: center;
}

.container-operadores{
    display: flex;
    justify-content: center;
}

.container-operadores button{
    border: none;
    margin : 10px  20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    transition: .5s;
}

.container-operadores button:hover {
    transform: scale(1.2);
}

.container-operaciones {
    margin: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #ffffff7a;
    box-shadow: 5px 5px 5px #000;
    padding: 6px 0;
}

.container-operaciones input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(38, 86, 196);
    font-size: 45px;
    width: 70px;
    text-align: center;
    outline: none;
}
#respuesta_usuario {
    width: 90px;
}

#corregir {
    background-color: rgb(250, 248, 248);
    font-size: 18 px;
    border: 1px solid #000;
    padding: 10px;
    transition: .5s;
    border-radius: 5px;
    cursor: pointer;
}

#corregir:hover{
    transform: scale(1.2);
}
.activado{
    background-color: rgb(151, 14, 133);
    color: #fff;
    transform: (1.8);
}
i{
    font: size 45px;
    display: inline-block;
    margin: 5px;
}
#msj_correccion {
    text-align: left;
}

.fa-face-frown {
    color: red;
    animation: zoom .5s forwards;
}

.fa-face-grin {
    color: rgb(103, 82, 241);
    animation: zoom .5s forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}